# Configuration file

Wind {
    # Defines probability of wind strength and direction change in percentage. [range: 0.0 ~ 100.0, default: 1.0]
    S:changeProbability=1.0

    # Defines how fast the wind changes. [range: 0.0 ~ 1.0, default: 0.15]
    S:changeStep=0.15

    # Defines maximum wind strength. [range: 0 ~ 30, default: 10]
    I:maxStrength=10

<<<<<<< HEAD
    # Random seed [range: -2147483648 ~ 2147483647, default: -1557175175]
    I:randomSeed=-1557175175
=======
    # Random seed [range: -2147483648 ~ 2147483647, default: 1455953433]
    I:randomSeed=1455953433
>>>>>>> 6206383c7f036264d908d290d17181ee59a27d6a

    # Defines the wind direction.
    # Possible values: RANDOM, NORTH, SOUTH, WEST, EAST, PLAYER, SPAWN
    #  [default: RANDOM]
    S:targetDirection=RANDOM
}


